.login-heading {
  color: white;
}

.login-container {
  text-align: center;
  padding: 50px;
  position: relative;
  margin-top: 50px;
}

.line {
  border-bottom: 5px solid red;
  margin-top: 5px;
  width: 100%;
}

.login-button {
  background-color: #e50914; /* Netflix red */
  color: white; /* White text */
  border: none; /* Remove border */
  border-radius: 5px; /* Rounded corners */
  padding: 8px 16px; /* Padding for a better look */
  font-weight: bold; /* Bold text */
  cursor: pointer; /* Pointer cursor on hover */
  transition: background-color 0.3s ease; /* Smooth transition */
}

/* Login.css */
.login-button {
  background-color: #e50914; /* Red color like Netflix */
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.login-button:hover {
  background-color: #f40612; /* Darker red on hover */
}
